
body{
    padding: 0;
    margin: 0;
    width: 100%;
    background:url("https://cdn.wallpapersafari.com/68/82/QJYyw5.png")
}
h2{

color: blue;
text-align: center;
font-size: 40px;
}
div{
    color: blue;
    background-color: rgb(86, 226, 196);
}
form{
    border: 2px solid black;
    margin-left: 10%;
    margin-right: 10%;
}
.textarea{
    justify-content: center;
  
}
.cen{
    text-align: center;
}

.container {
    max-width: 1200px;
  }
  #Rform{
 width: 50vw;
 height: auto;
 margin-left: auto;
 margin-right: auto;
  
 
  }


  .btn { opacity: 0.8;
      margin-right: 30px;
  }
  .btn:hover{
      opacity: 1;
  }

