*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62,5%;
}
body{
    width: 100%;
    background: turquoise;
   
}
.con{
    width: 30rem;
    margin: auto;
    margin-top:2rem;
    padding: 1rem;
    background: linear-gradient(white,orange,red);
    box-shadow: 2px 12px 65px 9px black;
}
.reg{
color: rgb(2, 68, 17);
text-align:center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
    height:1.8rem ;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;}
input:hover{
    background-color: rgb(155, 193, 202);
}
.text:hover{
    background-color: rgb(155, 193, 202);
}
.form{
    font-size: 1.5rem;
   
}
.but{
    margin-top: 1rem;
    background: rgb(28, 228, 10);
    color: white;
    width: 7rem;
    height: 2rem;
    border-radius: 1rem;
    padding: 0.3rem;
}
.but:hover{
    background:white;
    color: rgb(8, 247, 60);   
}
.text{
    border-radius: 0.5rem;
    width: 25rem;
    height: 3rem;
    padding: 0.3rem;
}
.inp{
    background: white;
}
@media (max-width:498px){
.con{
    width: 95vw;
}
.text{
    width: 85vw;
}
.inp{
    width: 85vw;
}

}
